@0092ff: #0092ff; //登录蓝色
@0077d0: #0077d0; //登录蓝色hover
@0866c6: #0866c6; //顶部蓝色
@aaaaaa: #aaaaaa; //表格边框
@ccc: #ccc;
@eee: #eee; //表格行hover









.sj-t(@w:12px, @c: @43c5ef) { 
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: @w;
	border-color: transparent transparent @c transparent;
	border-style: dashed dashed solid dashed;
}
.sj-r(@w:12px, @c: red) { 
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: @w;
	border-color: transparent transparent transparent @c;
	border-style: dashed dashed dashed solid;
}
.sj-l(@w:12px, @c: red) { 
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: @w;
	border-color: transparent @c transparent transparent;
	border-style: dashed solid dashed dashed;
}
.sj-b(@w:12px, @c: @43c5ef) { 
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: @w;
	border-color: @c transparent transparent transparent;
	border-style: solid dashed dashed dashed;
}